/* ------------------------------------------------ */
/* ------------------------ LAYOUT ---------------- */
/* ------------------------------------------------ */
.full-height {
  min-height: 100vh;
}

.astronaut {
  background-color: coral;
}

.text-page {
  background-color: seagreen;
}

@media screen and (min-width: 1024px) {
  .text-page{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 60px;
  }
  .Right{
    grid-column: 4 / span 5;
    margin-top: 10%;
  }
  .Left{
    grid-column: 1 / span 2;    
  }
}

/* ------------------------------------------------ */
/* ------------------------ ASTRONAUT ------------- */
/* ------------------------------------------------ */
.astronaut {
  background-image: url('img/naut.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.astronaut .heading-box {
  border: 0.4rem solid black;
  width: 10rem;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 80px;
  left: 40px;
  padding: 20px;
  font-family: 'Rubik', sans-serif;
}

.astronaut .heading-box .text {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: bold;
}

/* ------------------------------------------------ */
/* ------------------------ TEXT-PAGE -------------- */
/* ------------------------------------------------ */

.text-page {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/starbg.jpg');
  background-size: cover;
  color: rgb(210, 210, 210);
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  padding-top: 5%;
}

.Right div:first-of-type{
  padding-right: 30%;
}

.Right div:nth-of-type(2) {
  line-height: 35px;
  padding-right: 3%; 
}

.Left div:nth-of-type(2){
  line-height: 35px;
  padding-right: 10%;
}

.Left h2{
  margin-top: 0;
}

.textR h1{
  background: #CF57A7;
  background: radial-gradient(ellipse farthest-corner at center center, #eee 20%, #CF57A7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.4rem;
  font-weight:lighter;
  transform: scale(1) skew(-3deg);
  opacity: 0.6;
}

.SpaceVentures h1{
  margin: 0px;
  font-weight: 600;
  font-size: 154px;
}

.SpaceVentures h1 span:first-of-type {
  display:block;
  position: relative;
  z-index: 1;
  text-shadow: 0 4px 8px black;;
  letter-spacing: -5px;
}

.SpaceVentures h1 span:nth-of-type(2){
  position: relative;
  top: -99px;
  left: 10px;
  color: rgb(150, 150, 150);
  z-index: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 183px;
}

.Left div:nth-child(3){
  display: inline-block;
  margin-top: 10%;
  margin-left: 15%;
}

.text-page a{
  color:rgb(210, 0, 98);
  text-decoration: underline;
}

.text-page img{
  position: relative;
  top: -120px;
  left: -85px;
  float: right;
  transform: rotate(3deg);
  width: 20%;
}

.text-page q{
  font-size: 2rem;
}
.TomLink{
  position:relative;
}
.TomLink span{
  position: absolute;
  background-color: #ce0090;
  left:0;
}
  .TomLink span:nth-child(1){
  left: 26vh;
  top:12px;
}
.TomLink span:nth-child(2){
  left: 26vh;
  top: 20px;
}
.TomLink span:nth-child(3){
  left: 25vh;
  top:16px;
}
.TomLink:hover span.arrow0, .TomLink:hover span.arrow1, .TomLink:hover span.arrow2{
  margin-left: 15px;
  transition: 0.4s ease-in;
}
/* ------------------------------------------------ */
/* ------------------------ READ-PIL -------------- */
/* ------------------------------------------------ */

.arrow0 {
  position: absolute;
  width: 16px;
  height: 4px;
  border-radius: 10px;
  display: block;
  top: 8px;
  left: 160px;
  transform: rotate(35deg); 
  background-color: black;
}
.arrow1 {
  position: absolute;
  width: 16px;
  height: 4px;
  border-radius: 10px;
  display: block;
  transform: rotate(-35deg); 
  left: 160px;
  top: 16px;
  background-color: black;
}
.arrow2 {
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 10px;
  display: block; 
  left: 151px;
  top: 12px;
  background-color: black;
}

/* ------------------------------------------------ */
/* ------------------------ DESKTOP --------------- */
/* ------------------------------------------------ */

@media screen and (min-width: 800px) {
  .astronaut .heading-box {
      display: flex;
      width: 35rem;
      height: 30rem;
  }
  .astronaut .heading-box .link {
    position: absolute;  
    text-align: right;
    font-size: 1.4rem;
    bottom: 1.4rem;
    right: 2rem;
    margin-right: 1rem;
  }
  .astronaut .heading-box .link:hover span.arrow0, .link:hover span.arrow1, .link:hover span.arrow2 {
    transition: 0.4s ease-in;
    margin-left: 15px;
  }
}

/* ------------------------------------------------ */
/* ------------------------ DARK MODE ------------- */
/* ------------------------------------------------ */
@media (prefers-color-scheme: dark) {
  .astronaut .heading-box .link {
      color: rgb(200, 200, 200);
  }
}

/* ------------------------------------------------ */
/* ------------------------ MENU ------------------ */
/* ------------------------------------------------ */

button {
  position: fixed;
  width: 57px;
  height: 45px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  margin-right:30px;
  right:0%;
  z-index: 5;
}
button span {
  width: 50px;
  height: 8px;
  margin-bottom: 3px;
  border-radius: 4px;
  display: block;
  background-color: rgb(0, 0, 0);
  position: fixed;
  transition: all 0.3s ease-in-out;
}

button span::before,
button span::after {
  margin-left: 10px;
  display: block;
  content: '';
  background-color: black;
  width: 50px;
  height: 8px;
  position: relative;
  top: -22px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

button span:hover{
  margin-left: 5px;
}

button span:hover:before,
button span:hover:after{
  margin-left: 0px;
}

button span::before {
  top: 14px;
}

button.open span::before {
  transform: rotate(45deg);
  top: 2px;
}

button.open span::after {
  transform: rotate(-45deg);
  top: -6px;
}

button.open span {
  background-color: transparent;
  pointer-events: none;
}

button.open span:hover:after {
  pointer-events: none;
}

#OpenMenu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; bottom:0; left:0; right:0;
  background-color:rgba(255, 255, 255, 0.7);
  pointer-events: none;
  z-index: 4;
}

#OpenMenu h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 1px 5px rgb(165, 165, 165);
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

#OpenMenu h1:nth-child(-n+3) {
  margin-top: 10rem;
}

#OpenMenu span{
  display: block;
}

#OpenMenu h1:nth-child(n+3) span{
  border-bottom: 7px solid rgb(210, 0, 162);
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
}

#OpenMenu.show{
  display: block;
}

/* ------------------------------------------------ */
/* ------------------------ Cookies --------------- */
/* ------------------------------------------------ */

#cookies {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 8vh;
  background-color: rgb(0, 0, 48);
  color:rgb(210, 0, 98);
  text-shadow: 0px 0px 2px #ce0090;
  bottom: 0;
  z-index: 5;
  padding-top: 26px;
  padding-left: 1%;
  padding-right: 15px;
  font-size: larger;
}

#cookies button{
  float: right;
  height: auto;
  width:auto;
  z-index: 7;
  color:white;
  background-color: rgb(0, 0, 120);
  z-index: 5;
  padding: 10px;
  margin-top: -10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}
/* ------------------------------------------------ */
/* ------------------------ MOBIL --------------- */
/* ------------------------------------------------ */

@media screen and (max-width: 600px) {
  div br {
      display: none;
  }
  .astronaut .heading-box {
    display: flex;
    width: 35%;
    height: 17rem;
  }
  .astronaut .heading-box .link {
    position: absolute;  
    text-align: right;
    font-size: 1.4rem;
    bottom: 1.4rem;
    float: left;
  }
  .astronaut .heading-box .link span {
    transition: left 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
  .astronaut .heading-box .link:hover span.arrow0, .link:hover span.arrow1, .link:hover span.arrow2 {
   transition: 0.4s ease-in;
    margin-left: 15px;
  }
  .astronaut .heading-box .text {
    font-size: 8vh;
    align-self: unset;
  }
  .Right h1{
    display: none;
  }
  img {
    display: none;
  }
  .text-page{
    padding-left: 4rem;
    padding-bottom: 5rem;
    font-size: 90%;
  }
  .Right {
    margin-top: 10%;
  }
  .SpaceVentures{
    height: 25vh;
  }
  .SpaceVentures span{
    font-size: 6rem;
  }
  .SpaceVentures h1 span:nth-of-type(2){
    font-size: 6rem;
    left: 15vw;
    top: -125px;
  }
  .text-page q {
    padding-right: 10%;
    font-size: 1.5rem;
    font-style: italic;
  }
  .Left div:nth-of-type(2) {
    line-height: 25px;
  }
  .Left div:nth-child(3) {
    display: inline-block;
    margin-top: 10%;
    margin-left: 10%;
  }
  .Right div:nth-of-type(2) {
    line-height: 25px;
  }
  #cookies{
    font-size: 1.5vh;
  }
  #OpenMenu h1:nth-child(-n+3) {
    margin-top: 6rem;
  }
  .gone div:nth-child(1){
    display: none;
  }
  .TomLink span:nth-child(1){
    left: 24vh;
    top:8px;
  }
  .TomLink span:nth-child(2){
    left: 24vh;
    top: 16px;
  }
  .TomLink span:nth-child(3){
    left: 23vh;
    top:12px;
  }
  #arrow0{
    position: absolute;
    width: 20px;
    height: 4px;
    display: block;
    top: 97.7vh;
    left: 52.7vw;
    transform: rotate(135deg); 
    background-color: rgb(255, 255, 255);
  }
  #arrow1{
    position: absolute;
    width: 20px;
    height: 4px;
    display: block;
    transform: rotate(-135deg); 
    left: 50.7vw;
    top: 97.7vh;
    background-color: rgb(255, 255, 255);
  }
  #arrow2{
    position: absolute;
    width: 40px;
    height: 4px;
    display: block; 
    left: 50vw;
    top: 96vh;
    transform: rotate(90deg);
    background-color: rgb(255, 255, 255);
  }
}